#botona{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonb{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonc{
    width: 100px;
    height: 100px;
    front size: 100px;
}

#botoncalcular{
    width: 100px;
    height: 100px;
    front size: 100px;
}